<h3>Providers</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <!-- <th>Password (hidden)</th> -->
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <!-- <td>{{user.password}}</td> -->
      </tr>
    </tbody>
  </table>
</div>